<h2>Login failed</h2>
<p>Your login details were incorrect. Please check your username and password and try again.</p>

<form action="/login" method="post">
  Username:<input type="text" name="username">
  Password:<input type="password" name="password">
  <input type="submit" value="Login!">
</form>

<br>
<a href="/createaccount"><p> Not have an account?</a></p>
