<link rel="stylesheet" href="css/styles.css">
<link rel="stylesheet" href="css/bootstrap.css">

<h2>User Profile</h2><br>
<% if @Userz %>
<article>
<h4>Account Name: <font color = "blue"><%= @Userz.username %></h4></font>

<h4><p>Account Type: 
<% if @Userz %>
    <% if @Userz.edit == true %>
        <font color = "green">Authorised to edit pages</font>
    <% else %>
        <font color = "red">Not authorised to edit pages.</h4>
        Please wait for an administrator to approve your account.</font>
    <% end %>
<% else %>
    <h4><font color = "red">Not authorised to edit pages.</h4>
    Please wait for an administrator to approve your account.</font>
<% end %> </p>
        
</article>
<% end %>