<h2>Sun Kil Moon</h2>

<form action="/skm" method="post" id="edit">
<input type="hidden" name="_method" value="put">
<textarea rows="25" cols="115" name="message"><%= $skm %></textarea>
<input type="submit" value="Update">
<input type="reset">
</form>
<p><i>Existing article contains <%= @words %> words and <%= $skm.size %> characters.</i></p>
